<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evaluación del Modelo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/evaluacion.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

</head>

<body>
        <header>
        <h1>Evaluación del Modelo</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="containerNav">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item centro-vertical"> <a class="nav-link custom-nav" 
                            href="{{ url_for('home') }}">Vacunación Animal</a></li>
                    <li class="nav-item centro-vertical"> <a class="nav-link custom-nav"
                            href="{{ url_for('documentacion') }}">Documentación</a></li>
                    <li class="nav-item centro-vertical"><a class="nav-link custom-nav"
                            href="{{ url_for('comprension') }}">Comprensión</a></li>
                    <li class="nav-item centro-vertical"> <a class="nav-link custom-nav"
                            href="{{ url_for('ingenieriaDatos') }}">Ingeniería de Datos</a></li>
                    <li class="nav-item centro-vertical"> <a class="nav-link custom-nav"
                            href="{{ url_for('ingenieriaModelo') }}">Ingeniería del Modelo</a></li>
                    <li class="nav-item centro-vertical"> <a class="nav-link custom-nav"
                            href="{{ url_for('implementacion') }}">Implementación</a></li>
                    <li class="nav-item"> <a class="nav-link custom-nav"
                            href="{{ url_for('formulario') }}">Formulario</a></li>
                    <li class="nav-item"> <a class="nav-link custom-nav" 
                            href="{{ url_for('historial') }}">Historial</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        
                <h2>Métricas de Desempeño</h2>
                <p class="card-text">
                    Se seleccionan y aplican métricas adecuadas según el tipo de problema. En modelos de regresión se
                    usan métricas como MSE o R².
                </p>



                <h2>Validación</h2>
                <p class="card-text">
                    Se usa validación cruzada para comprobar qué tan bien se desempeña el modelo con distintos datos. En
                    modelos de
                    regresión, se aplican métricas como el MSE para ver el error promedio de las predicciones, y R² para
                    saber qué tanto
                    explican los datos al resultado.
                </p>


    

                <h2>Análisis de Riesgos</h2>
                <p class="card-text">
                    Se examinan posibles riesgos como el sobreajuste (modelo demasiado ajustado al entrenamiento),
                    subajuste (modelo poco complejo), o sesgos en los datos, que podrían afectar la utilidad real del
                    modelo.
                </p>
        

        <div class="text-center mb-4" id="evaluar-metricas">
            <p>Haz clic en el botón para ver u ocultar las métricas de evaluación del modelo.</p>
            <button id="toggleButton">Ver métricas de evaluación</button>

            <div id="metricas" class="mt-4" style="display: none;">
                <h4>Métricas</h4>
                <p><strong>MSE:</strong> {{ mse }}</p>
                <p><strong>R²:</strong> 0.71</p>
            </div>
        </div>

        <div class="alert alert-secondary text-center mt-5" role="alert">
            <em>Schmid et al. (2020) enfatizan que el monitoreo y mantenimiento constituye una fase continua orientada a
                asegurar la calidad y robustez del sistema a
                lo largo del tiempo. Esta etapa es crucial para garantizar que el modelo siga proporcionando valor a
                medida que evolucionan los datos y el contexto empresarial.</em>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/evaluacion.js') }}"></script>
</body>

</html>