<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('comprension') }}">comprension</a></li>
        <li><a href="{{ url_for('ingenieriaDatos') }}">Ingenieria Datos</a></li>
        <li><a href="{{ url_for('ingenieriaModelo') }}">Ingenieria Modelo</a></li>
        <li><a href="{{ url_for('implementacion') }}">implementacion</a></li>
        <li><a href="{{ url_for('formulario') }}">formulario</a></li>
        <li><a href="{{ url_for('historial') }}">historial</a></li>
    </ul>
</body>
</html>